
/* h1 {
color: rgb(242, 21, 54);
    background-color: rgb(208, 255, 0);
    }

p{
    color: rgb(11, 100, 11);
    background-color: rgb(232, 118, 180);
}

button {
    color: rgb(206, 123, 14);
    background-color: black;
 } 
    
*/
    


 /* RGB colors

 h2 {
    color: rgb(0, 0, 255);
}

 */


 /* 
 h2{
    color: #fff;
    background-color: #000;
 }
 */
 

 